.popup-form {
    background-color: rgb(125, 170, 255);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    /* height: 800px; */

    padding: 40px;
    margin: auto;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.popup-form * {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.1em;
}

.popup-form button,
.popup-form input {
    border-style: solid;
    border-color: rgb(46, 83, 204);
}

.popup-form button {
    width: 250px;
    align-self: center;
}

.popup-form button:hover,
.popup-form input:hover {
    background-color: rgb(224, 224, 224);
}

.popup-form button:active {
    background-color: rgb(204, 204, 204);
}

.popup-form input:focus {
    outline: none !important;
}

#remember-me {
    align-self: flex-end;
    padding: 0;
    margin: 0;
}

.text-button {
    font-size: 1.1em;
    color: rgb(1, 13, 194);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.text-button:hover {
    color: rgb(50, 60, 196);
}

.text-button:active {
    color: rgb(110, 114, 172);
}