:root {
  --app-height: 100%;
}

* {
  font-size: 0.99em;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);

}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  overflow-x: hidden;
}

.sliding-background {
  position: absolute;
  width: 7000px;
  height: 100vh;
  background-image: url(../assets/blue-background-long.jpg);
  animation: slide 100s linear infinite;
  z-index: -99;
}

.root {
  text-align: center;
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.logged {
  height: calc(100% - 64px);
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(-100px, 0);
  }

  45% {
    transform: translate(-4000px, 0);
  }

  50% {
    transform: translate(-4100px, 0);
  }

  55% {
    transform: translate(-4000px, 0);
  }

  95% {
    transform: translate(-100px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media (pointer: coarse) {

  .root .messages *,
  .root .conversations-list {
    font-size: 1.1em;
  }

  .root .messages .group-avatar {
    scale: 1.1;
    margin-top: 4px;
  }
}