.logged {
    display: flex;
    flex-direction: row;
}

.login {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(67, 105, 66);
}

.login .popup {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    width: 500px;
    height: 800px;
    background-color: rgb(125, 170, 255);
    padding: 40px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.login * {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.1em;
}

.login button,
.login input {
    border-style: solid;
    border-color: rgb(46, 83, 204);
}

.login button:hover,
.login input:hover {
    background-color: rgb(224, 224, 224);
}

.login button:active {
    background-color: rgb(204, 204, 204);
}

.login input:focus {
    outline: none !important;
}