.Menu {
    margin: 20px 0;
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    overflow-y: auto;
}

.menu-item {
    border-radius: 20px;
    flex-grow: 1;
    display: grid;
    background-color: rgb(135, 230, 151);
    min-width: 250px;
    width: 200px;
    height: 200px;
    align-items: center;
    margin: 10px;
    border-color: rgb(92, 194, 212);
    border-width: 5px;
    border-style: solid;
    transition: .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.menu-item:hover {
    transition: .5s cubic-bezier(0.23, 1, 0.320, 1);
    transform: scale(1.05);
    background-color: rgb(95, 207, 114);
}

.menu-item:active {
    background-color: rgb(37, 150, 58);
}

.icon {
    width: 50%;
    height: 80px;
    justify-self: center;
}