body {
  background-color: #868d9b;
  font-family: 'Comfortaa', cursive;
  font-size: 1.2em;
}

.App {
  text-align: center;
  background-color: rgb(226, 236, 255);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}